[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "==10.0.1"
pyocr = "==0.8.3"

[dev-packages]
flake8 = "*"
flake8-quotes = "*"

[requires]
python_version = "3.11"
