[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "==10.4.0"
pyocr = "==0.8.5"

[dev-packages]
flake8 = "*"
flake8-quotes = "*"

[requires]
python_version = "3.11"
